*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

html {
      scroll-behavior: smooth;
    }

body{
    background: -webkit-linear-gradient(90deg, #000000,#121212,#000000);
    background: linear-gradient(90deg, #000000,#121212,#000000) ;
}

/***************NAV*******************/
.navegador{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.enlaces{
    text-decoration: none;
    color: aliceblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.enlaces:hover{
    color:rgb(128, 48, 48);
    transition:0.5s;
}

@keyframes gradient-flow {
  0% { background-position: 0% 0; }
  100% { background-position: -200% 0; }
}

.logo-nav{
    width: 50px;
    height: 50px;
}

.div-enlaces{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.div-logo{
    display:flex;
    align-items:center;
    color:whitesmoke;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px ;
}

/******************MAIN****************/

/*****************SECCION1*************/
.texto-bienvenidos{
    background: linear-gradient(90deg, rgb(128, 48, 48) 0%, whitesmoke 25%, rgb(128, 48, 48) 50%, whitesmoke 75%, rgb(128, 48, 48) 100%);
    background-size: 200% 100%;
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
    animation: gradient-flow 5s linear infinite; 
    text-align: center;
    font-size: 160px;
}

.texto-nombre{
    /*color: whitesmoke;*/
    text-align: center;
    font-size: 50px;
    background: linear-gradient(90deg, grey 0%, whitesmoke 25%, grey 50%, whitesmoke 75%, grey 100%);
    background-size: 200% 100%;
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
    animation: gradient-flow 5s linear infinite;
}

.texto-programador{
    color: whitesmoke;
    text-align: center;
    font-size: 30px;
}

.seccion1{
    height: 100vh;              
    display: flex;
    flex-direction:column;              
    justify-content: center;    
    align-items: center;
    gap:20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/****************SECCION2***************/
.titulos-secciones{
    background: linear-gradient(90deg, rgb(128, 48, 48) 0%, whitesmoke 25%, rgb(128, 48, 48) 50%, whitesmoke 75%, rgb(128, 48, 48) 100%);
    background-size: 200% 100%;
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
    animation: gradient-flow 5s linear infinite;
    text-align:center;
    font-size:40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.texto-sobremi{
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 20px;
    max-width: 35%;           
    margin: 0 auto;       
    text-align: justify;  
    line-height: 1.6;  
    font-size: 25px;
    background: linear-gradient(90deg, grey 0%, whitesmoke 25%, grey 50%, whitesmoke 75%, grey 100%);
    background-size: 200% 100%;
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
    
}

/*****************SECCION3***************/
.seccion3{
    margin-top: 80px;
}

.container-habilidades{
    display: grid;
    grid-template-columns:auto auto auto ;
    justify-content: center;
    gap: 100px;
    padding: 70px;
}

.habilidades{
    border: 1px solid rgb(184, 184, 184, 0.1);
    border-radius: 20%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    transition: transform 0.3s ease;
}

.habilidades img{
    position: relative;
    width: 50px;
}

.habilidades p{
    color: whitesmoke;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.habilidades:hover{
    transform: scale(1.2);
}

/***************SECCION4**************/
.div-educacion{
    width: 50%;
    margin: 0 auto;
    padding: 60px;
}

.estudios{
    border-bottom: 1px solid whitesmoke;
    padding: 10px;
    color: aliceblue;
}

.titulo-educacion{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    font-weight: bold;
}

.titulacion{
    display: flex;
    gap: 10px;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: linear-gradient(90deg, grey 0%, whitesmoke 25%, grey 50%, whitesmoke 75%, grey 100%);
    background-size: 200% 100%;
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
}

.contenido-educacion{
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.1s ease;
    color: rgb(201, 201, 201);
    font-size: 17px;
}

.estudios.active .contenido-educacion{
    max-height: 200px; 
    padding: 10px;
}

.flecha{
    transition: transform 0.1s;
    width: 15px;
}

.estudios.active .flecha {
    transform: rotate(180deg);
}

.icono-graduacion{
    width: 60px;
}


/****************SECCION5*************/
.proyectos{
    display:flex;
    flex-wrap: wrap;
    padding: 60px;
    gap: 50px;
}

.proyecto{
    color: rgb(184, 184, 184);
    text-align: center;
    border: 2px solid grey;
    border-radius: 10px;
    padding: 20px;
    background: linear-gradient(50deg, grey 0%, rgb(49, 25, 25) 100%);
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    width: 400px;
    transition: 0.3s;
    scale: 1;
}

.proyecto:hover{
    box-shadow: 0 0 12px grey;
    transition: 0.3s;
    cursor: pointer;
    scale: 1.1;
}


.proyectos{
    display:flex;
    justify-content:center;
}

.icono-proyectos{
    width:80px;
}

/**************SECCION6**************/
.texto-contacto{
    text-align:center;
    color:whitesmoke;
    font-size:25px;
}

.espacio{
    margin-top:20px;
}

.contacto{
    padding:40px;
}

.iconos-redes{
    width:20px;
}

.container-redes{
    display:flex;
    justify-content:center;
    gap:20px;
    padding:20px
}

.linkedin{
    color:white;
    display:flex;
    align-items:center;
    border:none;
    border-radius:6px;
    padding:10px;
    gap:10px;
    font-size:15px;
    justify-content:center;
    background:rgb(54, 119, 204);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.gmail{
    color:white;
    display:flex;
    align-items:center;
    border:none;
    padding:10px;
    gap:10px;
    font-size:15px;
    justify-content:center;
    background:rgb(27, 104, 49);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius:6px;
}


/**************FOOTER***********/
footer{
    color:whitesmoke;
    text-align:center;
    padding:20px;
    border-top: 1px solid grey;
}